# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.DS_Store
include/README
lib/README
test/README
.vscode/settings.json
.pioenvs/do-not-modify-files-here.url
.pioenvs/structure.hash
.vscode/c_cpp_properties.json
.vscode/extensions.json
.vscode/launch.json
